a{
    color: black;
}

.home_main_container{
    background-color: #EAEDED;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 2em 0 4em 0;
    overflow: auto;
}
.home_card_category{
    display: flex;
    flex-direction: row;
    /* border: 1px solid #000000; */
    width:65rem;/*get one card width(12 +1 rem)and no of cards(5)*/
    margin: auto;
   
}
.home_card_category .cat_item1{
    flex:5;
}
.home_card_category .cat_item2{
    flex:1;
        text-align:right;
    /* margin-right: 1rem; */
}
.home_card_group{   
    width:65rem; /*get one card width(12 +1 rem)and no of cards(5)*/
    margin: auto;
    display: flex;
    flex-direction:row;
    
    /* border: 1px solid black; */
}
 .home_card{
    width:12rem;
    /* height:13rem; */
    border-radius: .3em;
    /* border: 1px solid rgb(0, 0, 0);   */
    box-shadow:2px 2px 10px 0px gray;
    background-color: white;
    margin-right:1rem;
    display: grid;
    grid-template-rows: 10rem 3rem;
}

.home_card_item1 img{
    border-radius: .3em .3em 0 0;
   /* border: 1px solid black; */
   
}
.home_card_item2{
    
    text-align: left;
    
    
}
.home_card_item2 p{
  padding: 0 .5em;
   margin: 0;
}
